html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
/* button{
    background:  #fd6202eb;
    border: none;
    border-radius: .25rem;
    color: #ffffff;
} */

body {
  margin-inline: auto;
  height: 100%;
  width: 100%;
  /* background: rgba(41, 115, 146, 0.664); */
}
main {
background: url('./youngman.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
}

main::before {
  content: "";
  background: rgba(41, 115, 146, 0.664);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .header-link{
  background-color: whitesmoke;
} */
/* .header{
    margin: .5rem;
    top: 0;
    width:100%;
    
} */
/* .header_btn {
  display: flex;
  align-items: center;
  background-color: #fd6202eb; 
  color: #ffffff; 
  padding: 10px 15px;
  border: none;
  left: 85px;
  border-radius: 8px;
  cursor: pointer;
  height: 25px;
  width: 260px;
  margin-top: 5px;
  position: relative;
} */

/* .header_btn::before {
  content: "";
  position: absolute;
  right: 15px; 
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-radius: 10px;
  border-color: transparent #ffffff transparent transparent; 
  transform: translateY(-50%) rotate(180deg); 
} */

/* .header_btn::after {
  content: "";
  position: absolute;
  right: 15px; 
  top: 50%; 
  width: 142px; 
  height: 1px;
  background-color: #ffffff; 
  transform: translateY(-50%); 
} */

/* .logo_img{
    width: 3.75rem;
    height: 3.75rem;
}

li,a{
    text-decoration: none;
    list-style-type: none;
    padding: .625rem;
}
a:any-link{
    font-size: .95rem;
    color: orangered;
}
nav{
    display: flex;
}
.header_logo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;

} */
/* .header_link{
  color: blue;
} */


/* .article_main {
  padding: 0.5rem;

  height: 80vh;
} */

/* .img_main {
  background-size: contain;
  position: relative;
  width: 1230px;
  height: 430px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
label {
  display: none;
}
p {
  margin: 1rem;
}
.form_container {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  position: absolute;
  top: 15.95rem;
  width: 18rem;
  height: 19rem;
  background: white;
  padding: 0.25rem;
  right: 5px;
  transform: translateY(-50%);
} */

/* .form_container input .form_container textarea {
  margin-top: 10px;
  margin-bottom: 20px; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .form_container h3 {
  color: rgb(3, 89, 104);
  font: size 10px;
  left: 13px;
  position: relative;
  margin-bottom: 20px;
}
.form_container button {
  position: relative;
  padding: 0.4rem;
  margin-bottom: 20px;
  height: 2rem;
  width: 80px;
  left: 180px;
  margin-top: 25px;
}
::placeholder {
  color: rgba(4, 104, 143, 0.566);
} */

/* input,
select {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background: rgb(210, 248, 255);
} */

.info_section {
  display: flex;
  flex-direction: column;
  /* width: 1600px; */
  /* height: 300px; */
  background-color: transparent;
  /* left:-10px; */
}

.info_section {
  /* background-color: darkblue; */
  width: 100%;
  height: fit-content;
  border-radius: 0;
}
.info_section_footer{
  color: white;
  font-size: 20px;
  z-index: 2;
  text-align: center;
  padding-bottom: 20px;
}
.info_section_footer a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.info_title {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-bottom: 10px;
}

.info_heading {
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
}
.underline {
  position: absolute;
  left: 0;
  top: 5;
  width: 50%; /* Adjust the width of the underline */
  height: 3px;
  background-color: #f36f21;
  z-index: 1;
}
.rline {
  position: absolute;
  left: 700px;
  top: 5;
  width: 50%; /* Adjust the width of the underline */
  height: 3px;
  background-color: #f36f21;
  z-index: 1;
}
.line {
  color: whitesmoke;
  margin-top: 1rem;
  border-top: 7px solid salmon;
  border-bottom: 2px solid whitesmoke;
  background: #08377e;
  padding: 1.8rem;
  margin-left: 10rem;
  font-size: 1.5rem;
  width: 49%;
  float: right;
  flex: 1, 1, auto;
}

.image_text_card p {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    width: 90%;
  }
}

@media (max-width: 576px) {
  body {
    width: 85%;
    height: 100%;
  }
  nav {
    display: none;
  }
}

@media (max-width: 375px) {
  body {
    width: 90%;
  }
  nav {
    display: none;
  }
  /*home page styling ends*/
}

/*trtw styling begins here*/
.visa_types {
  position: relative;
}
.bg_color {
  position: relative;
  background-color: darkblue;
padding-bottom: 15px;

  /* height:  */
}

.flx {
  /* content: flex; */
  display: flex;
}

.info-content{
  flex: 1;
  display: flex;
  border-bottom: 2px solid white;
}
.info-icon{
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.info-paragraph{
  padding: 40px 5px 40px   5px ;
  font-size: 22px ;
  text-align: center;
}

.image_cards {
  flex: 1;
  /* display: flex; */
  position: relative;
  /* top: 60px;
  bottom: 20px;
  left: 20px; */
}

.image_card {
  border-radius: 0;
  margin-right: 8px;
  /* overflow: hidden; */
}

.small_img {
  position: absolute;
  width: 38%;
  height: 280px;
  top: 10px;
  left: 60px;
  background: #000;
}
.larger_card_img {
  position: absolute;
  width: 49%;
  height: 380px;
  top: 40px;
  right: 0;
background: #000;
  transform: translateY(-20px);
  z-index: 1;
}

.image_text_card {
  background-color: #f36f21;
  position: absolute;
  top: 250px;
  left: 200px;
  width: 30%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  z-index: 2;
}
.info_title {
  width: 50%;
  font-size: 1.5rem;
}

/* visas */

.visa-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 350px;
  padding-bottom: 40px;
  z-index: 2;
}
.visa-card{
  width: 300px;
  height: 380px;
  background-color: rgba(41, 41, 255, 0.534);
  padding: 15px 15px;
  color: white;
}
.visa-header{
  width: 100%;
  height: 40%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.visa-header img{
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
}
.visa-body{
  height: 50%;
}
.visa-title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
}
.visa-content{
  font-size: 18px;
}
.visa-footer{
  margin-top: 10px;
  font-size: 20px;
  height: 10%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.visa-footer a{
  text-decoration: none;
  color: white;
}

.para {
  width: 50%;
  color: whitesmoke;
  float: right;
  /* border-top: 4px solid salmon; */
  border-bottom: 2px solid whitesmoke;
  padding: 1.8rem;
  margin-left: 2rem 1.5rem 0 0;
  font-size: 1.5rem;
  width: 49%;
  float: right;
  flex: 1, 1, auto;
}

.vtcontainer {
  margin-top: 9rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
  flex: 1, 1, auto;
}

.vtcontent {
  border-radius: 0.4rem;
  background: #08377e;
  margin: 0.5rem;
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

.ft {
  text-align: center;
  font-size: 1.5rem;
}

/* next page begins here */
.eta {
  margin-top: 3rem;
}
.box {
  position: absolute;
  width: 160px;
  height: 170px;
  margin-right: 200px;
  background-color: salmon;
  margin-left: 5.5rem;
  margin-bottom: 10rem;
  top: 16em;
  opacity: 0.7;
}
.etaht {
  color: whitesmoke;
  background: #08377e;
  margin-top: 3rem;
  position: relative;
  width: 1600px;
  height: 300px;
  /* margin-top: 1rem;    
        background: #08377e;
        /* padding: 1.8rem; */
  /* margin-left: 10rem; */
  /* font-size: 1.5rem;
        width: 49%;
        float: right;
        flex:1,1,auto; */
}


/************* CHANGES START HERE *********/
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.navbar-logo {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.navbar-logo h3 {
  font-size: 16px;
  margin-left: 5px;
  color: rgb(13, 89, 114);
}
.logo_img {
  width: 50px;
}
.navbar_links {
  flex: 2;
}
.navbar_links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar_links ul li a {
  text-decoration: none;
}

.navbar-btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.navbar-btn button {
  background: #fd6202eb;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  padding-right: 100px;
  padding: 3px 100px 3px 10px;
  cursor: pointer;
}

.navbar-btn button::before {
  /* Add any necessary styles for the arrow */
  content: "";
  position: absolute;
  right: 5px; /* Adjust the position of the arrow */
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-radius: 10px;
  border-color: transparent #ffffff transparent transparent; /* Set the color of the arrow to white */
  transform: translateY(-50%) rotate(180deg); /* Rotate the arrow to point towards the left */
}

.navbar-btn button::after {
  /* Add any necessary styles for the line */
  content: "";
  position: absolute;
  right: 5px; /* Adjust the position of the line */
  top: 50%; /* Align the line vertically to the middle of the button */
  width: 70px; /* Adjust the width of the line */
  height: 1px; /* Adjust the height of the line */
  background-color: #ffffff; /* Set the color of the line to white */
  transform: translateY(-50%); /* Correct the vertical alignment */
}

/* END OF NAVBAR */

/* HERO */
.hero-container {
  position: relative;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  height: 90vh;

}
.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.hero-image img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background-size: cover;
}
.hero-card {
  position: absolute;
  top: 30%;
  right: 0;
}
.card {
  width: 300px;
  height: 250px;
  background-color: #fdfdfd;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card-title {
  margin-top: 15px;
}

.card-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.card-inputs input {
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background: rgb(210, 248, 255);
}
.card-inputs select{
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background: rgb(210, 248, 255);
}

.card-button {
  margin-top: 15px;
}
.card-button button {
  padding: 5px;
  float: right;
  background: #fd6202eb;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.bg_color{
  margin-top: 30px;

}
/*.main-wrapper{

background: url('./youngman.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.main_wrapper::before {
  content: "";
  background: rgba(41, 115, 146, 0.664);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* END OF HERO */



/* NEWSLETTER SECTION */


  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    opacity: 90%;
    background-color: #007fd4;
    height: 260px;
  }

  .nl {
    width: 50%;
  }

  .s-up {
    bottom: 180px;
    color: #000;
    right: 90px;
    position: absolute;
  }

  .s-up b {
    font-size: 1.2rem;
  }

  .mail-input {
    bottom: 130px;
    color: #000;
    right: 90px;
    position: absolute;
  }

  .mail-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 450px;
  }

  .subscribe_button {
    right: 108px;
    border: none;
    background-color: transparent;
    color: #00bcd4;
    cursor: pointer;
    bottom:100px;
    position: absolute;
  }

 .demo_image img{
  background: #333333;
}

  .image-cards .nl_image {
    width: 150px;
    height: 240px;
    border-radius: 0;

    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
    position: absolute;
    bottom: 50px;
    left: 20px;
  }


  .newsletter_line {


    color:orange;
  margin-left: 171px; /* Adjust the position of the line */
  top: 85px; /* Align the line vertically to the middle of the button */
  width: 1100px; /* Adjust the width of the line */
  height: 1px; /* Adjust the height of the line */
  /*background-color: #ffffff; !* Set the color of the line to white *!*/
  /* Correct the vertical alignment */
  }

  .newsletter_text_card{
    width:140px;
    height:130px;
    color: rgba(255,165,0,0.2);
    opacity: 50%;

    top:120px;
    left: 110px;
  }

  .newsletter p,
  .newsletter label {
    color: #000;
    font-size: 1.2rem;
  }

  .newsletter label {
    display: block;
    margin-top: 10px;
  }














/* INTRODUCTION */
.introduction{
  display: flex;
  flex-direction: column;
}
.introduction-wrapper{
}
.title{}
.title h1{}
.title h3{}
.intro-content-wrapper{
  display: flex;
}
.intro-content-left{
  flex: 1;
  background-color: aqua;
}
.left-image-1{}
.left-image-2{}
.left-banner{}
.intro-content-right{
  flex: 1;
}
.introduction-footer{}


/* END OF INTRODUCTION */

/* FOOTER */
.footer{
  background-color: #08377e;
  margin-top: 30px;
}
.footer .title{
  text-align: center;
  margin-bottom: 15px;
}
.footer-top{
  display: flex;
  border-bottom: 1px solid white;
  padding: 20px 10px;
}
.footer-about{
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}
.about-logo{}
.about-content{
  padding: 15px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.footer-posts{
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}
.footer-posts .post{
  margin-bottom: 20px;
  padding-left: 20px;
}

.footer-top-links{
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}
.footer-top-links .top-links{
  width: 40%;
  margin: auto;
  margin-top: 0;
}
.footer-top-links .top-links .link{
  margin-bottom: 20px;
}

.footer-contact{
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.footer-contact .contact-item{
  margin-bottom: 15px;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 20px;
}
.footer-bottom-links a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

/* END OF FOOTER */